<%- include("../headerRegis"); %>
<div class="col-12">
    <br>
    <h1 class="text-center">Registrar Usuario</h1>
    <br>
    <form method="post" action="/registrarse/insertar">
	    <div class="form-group">
            <label for="usuario">Usuario</label>
            <input required id="usuario" placeholder="Escriba el Usuario" class="form-control" type="text"
                name="usuario">
        </div>
        <div class="form-group">
            <label for="clave">Clave</label>
            <input required id="clave" placeholder="Escriba la Clave" class="form-control" type="password"
                name="clave">
        </div>
		
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/login" class="btn btn-danger">Volver</a>
        </div>
    </form>
</div>