<%- include("../header"); %>
<div class="col-12">
    <br>
    <h1 class="text-center">Agregar Proveedores</h1>
    <br>
    <form method="post" action="/proveedores/insertar">
	    <div class="form-group">
            <label for="rif">Rif</label>
            <input required id="rif" placeholder="Rif del proveedor" class="form-control" type="text"
                name="rif">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input required id="nombre" placeholder="Nombre del proveedor" class="form-control" type="text"
                name="nombre">
        </div>
		<div class="form-group">
            <label for="telefono">Telefono</label>
            <input required id="telefono" placeholder="Telefono del proveedor" class="form-control" type="text"
                name="telefono">
        </div>
		<div class="form-group">
            <label for="direccion">Dirección</label>
            <input required id="direccion" placeholder="Dirección del proveedor" class="form-control" type="text"
                name="direccion">
        </div>
		<div class="form-group">
            <label for="contacto">Contacto</label>
            <input required id="contacto" placeholder="Nombre del contacto" class="form-control" type="text"
                name="contacto">
        </div>
        
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/proveedores" class="btn btn-danger">Volver</a>
        </div>
    </form>
</div>