<%- include("../headerlogin"); %>
 <div class="container">
    <div class="col-sm-12 col-sm-offset-3">
        <br>
        <h2 class="text-center">Login</h2>
        <br>
        <form class="form-horizontal" action="/login/login" method="post">
            <div class="form-group">
                <label>Username</label>
                 <input type="text" class="form-control" name="usuario">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="clave">
            </div>

            <div class="form-group">
                <button class="btn btn-success col-md-12 ">Login</button>
            </div>
        </form>
    </div>
 </div>
